@{
    ViewData["Title"] = "Fernando";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo fernando</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">doc</a>.</p>
</div>
